@keyframes appear {
    from {
        transform: translateY(15rem);
        opacity: 0;
    }

    to {
        transform: translateY(0rem);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}