@media only screen and (max-width:620px) {
    #logo, #nav {
        visibility: hidden;
    }

    #home-content {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #profile-picture {
        width: 100px;
        height: 100px;
    }

    #about-me-picture {
        width: 100px;
        height: 100px;
    }

    .vl {
        display: none;
    }

    .heading {
        font-size: 28pt;
    }

    .subheading {
        font-size: 20pt;
    }

    #socials img {
        height: 35px;
        width: 35px;
    }

    #down-arrow {
        visibility: hidden;
    }
  }