@keyframes fadeIn {
    from {
        filter: blur(5px);
        transform: translateY(2rem);
        opacity: 0;
    }

    to {
        filter: blur(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.no-animations {
    * {
        animation: none !important;
        opacity: 1 !important;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.66s ease forwards;
    animation-delay: calc(var(--ao) * 333ms);
}