h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;

    @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 0.5rem !important;
    }
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

.text-highlighted {
    color: white;
}

.text-accent {
    color: orangered;
}

p {
    text-transform: lowercase;
    color: #505050;
    line-height: 1.5;

    &.big {
        font-size: 18px;
    }

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.jap {
    margin-bottom: 0.25rem;
}

a {
    color: orangered;

    &:hover {
        color: #c9c9c9;
    }

    @media (max-width: 768px) {
        font-size: 14px;
    }
}