:root {
    --cw-padding-multiplier: 1;
    --cw-padding-xs-multiplier: 1;
    --cw-margin-multiplier: 1;
    --cw-margin-xs-multiplier: 1;
    --cw-gap-multiplier: 0.5;
}


//--------------PADDING------------
@media (min-width: 768px) {
    @for $i from 1 through 10 {
        .py-#{$i} {
            --padding-y: #{$i};
            padding-top: calc(var(--padding-y) * 1rem * var(--cw-padding-multiplier));
            padding-bottom: calc(var(--padding-y) * 1rem * var(--cw-padding-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .px-#{$i} {
            --padding-x: #{$i};
            padding-left: calc(var(--padding-x) * 1rem * var(--cw-padding-multiplier));
            padding-right: calc(var(--padding-x) * 1rem * var(--cw-padding-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pt-#{$i} {
            --padding-t: #{$i};
            padding-top: calc(var(--padding-t) * 1rem * var(--cw-padding-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pb-#{$i} {
            --padding-b: #{$i};
            padding-bottom: calc(var(--padding-b) * 1rem * var(--cw-padding-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pl-#{$i} {
            --padding-l: #{$i};
            padding-left: calc(var(--padding-l) * 1rem * var(--cw-padding-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pr-#{$i} {
            --padding-r: #{$i};
            padding-right: calc(var(--padding-r) * 1rem * var(--cw-padding-multiplier));
        }
    }
}

//--------------PADDING XS------------
@media (max-width: 768px) {
    @for $i from 1 through 10 {
        .py-xs-#{$i} {
            --padding-y-xs: #{$i};
            padding-top: calc(var(--padding-y-xs) * 1rem * var(--cw-padding-xs-multiplier));
            padding-bottom: calc(var(--padding-y-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .px-xs-#{$i} {
            --padding-x-xs: #{$i};
            padding-left: calc(var(--padding-x-xs) * 1rem * var(--cw-padding-xs-multiplier));
            padding-right: calc(var(--padding-x-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pt-xs-#{$i} {
            --padding-t-xs: #{$i};
            padding-top: calc(var(--padding-t-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pb-xs-#{$i} {
            --padding-b-xs: #{$i};
            padding-bottom: calc(var(--padding-b-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pl-xs-#{$i} {
            --padding-l-xs: #{$i};
            padding-left: calc(var(--padding-l-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pr-xs-#{$i} {
            --padding-r-xs: #{$i};
            padding-right: calc(var(--padding-r-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
}

//--------------MARGIN------------
@media (min-width: 768px) {
    @for $i from 1 through 10 {
        .my-#{$i} {
            --margin-y: #{$i};
            margin-top: calc(var(--margin-y) * 1rem * var(--cw-margin-multiplier));
            margin-bottom: calc(var(--margin-y) * 1rem * var(--cw-margin-multiplier));
        }
    }

    @for $i from 1 through 10 {
        .mx-#{$i} {
            --margin-x: #{$i};
            margin-left: calc(var(--margin-x) * 1rem * var(--cw-margin-multiplier));
            margin-right: calc(var(--margin-x) * 1rem * var(--cw-margin-multiplier));
        }
    }

    @for $i from 1 through 10 {
        .mt-#{$i} {
            --margin-t: #{$i};
            margin-top: calc(var(--margin-t) * 1rem * var(--cw-margin-multiplier));
        }
    }

    @for $i from 1 through 10 {
        .mb-#{$i} {
            --margin-b: #{$i};
            margin-bottom: calc(var(--margin-b) * 1rem * var(--cw-margin-multiplier));
        }
    }

    @for $i from 1 through 10 {
        .ml-#{$i} {
            --margin-l: #{$i};
            margin-left: calc(var(--margin-l) * 1rem * var(--cw-margin-multiplier));
        }
    }

    @for $i from 1 through 10 {
        .mr-#{$i} {
            --margin-r: #{$i};
            margin-right: calc(var(--margin-r) * 1rem * var(--cw-margin-multiplier));
        }
    }
}

@media (max-width: 768px) {
    @for $i from 1 through 10 {
        .my-xs-#{$i} {
            --margin-y-xs: #{$i};
            margin-top: calc(var(--margin-y-xs) * 1rem * var(--cw-margin-xs-multiplier));
            margin-bottom: calc(var(--margin-y-xs) * 1rem * var(--cw-margin-xs-multiplier));
        }
    }

    @for $i from 1 through 10 {
        .mx-xs-#{$i} {
            --margin-x-xs: #{$i};
            margin-left: calc(var(--margin-x-xs) * 1rem * var(--cw-margin-xs-multiplier));
            margin-right: calc(var(--margin-x-xs) * 1rem * var(--cw-margin-xs-multiplier));
        }
    }

    @for $i from 1 through 10 {
        .mt-xs-#{$i} {
            --margin-t-xs: #{$i};
            margin-top: calc(var(--margin-t-xs) * 1rem * var(--cw-margin-xs-multiplier));
        }
    }

    @for $i from 1 through 10 {
        .mb-xs-#{$i} {
            --margin-b-xs: #{$i};
            margin-bottom: calc(var(--margin-b-xs) * 1rem * var(--cw-margin-xs-multiplier));
        }
    }

    @for $i from 1 through 10 {
        .ml-xs-#{$i} {
            --margin-l-xs: #{$i};
            margin-left: calc(var(--margin-l-xs) * 1rem * var(--cw-margin-xs-multiplier));
        }
    }

    @for $i from 1 through 10 {
        .mr-xs-#{$i} {
            --margin-r-xs: #{$i};
            margin-right: calc(var(--margin-r-xs) * 1rem * var(--cw-margin-xs-multiplier));
        }
    }
}



.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

//--------------GAP------------
@for $i from 1 through 20 {
    .gap-#{$i} {
        --gap: #{$i};
        gap: calc(var(--gap) * 1rem * var(--cw-gap-multiplier));
    }
}

.text-center {
    text-align: center;
}

.text-center-xs {
    @media (max-width: 768px) {
        text-align: center;
    }
}

.hide-mobile {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.hide-desktop {
    @media (min-width: 768px) {
        display: none !important;
    }
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-stretch {
    align-items: stretch;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.flex-column-xs {
    @media (max-width: 768px) {
        flex-direction: column;
    }
}